<div class="d-flex">
  
    <!-- Sidebar -->
    <div id="sidebar" class="bg-dark text-light p-3">
      <h4>Gifs - App</h4>
      <hr>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">A second link item</a>
      </div>
    </div>
  
    <!-- End Sidebar -->
  
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h3>Search: </h3>
                <input type="search" placeholder="Search" class="form-control">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nihil modi cum aut autem eaque minus, veritatis voluptate veniam atque?</p>
            </div>
        </div>
    </div>
</div>

  